// Mobile First Style
.main {
  margin: 2rem 1rem 2.5rem 1rem;
  &__title {
    font-family: avenir-bold;
    @include mobile-header;
    margin: 0 0 1rem 0;
  }
  &__subtitle-container {
    display: flex;
    flex-direction: column;
    &--author {
      font-family: avenir-demi;
      @include mobile-subheader;
      padding-right: 0.5rem;
      margin: 0;
    }
    &--date {
      font-family: avenir-regular;
      @include mobile-subheader;
      color: $silver;
      margin: 0;
    }
  }
  &__subtitle-views-likes-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid $mercury;
    border-bottom: 1px solid $mercury;
  }
  &__views-likes-container {
    display: flex;
    flex-direction: column;
    color: $silver;
    height: 1rem;
  }
  &__views-container {
    display: flex;
    margin-right: 1.5rem;
    &--icon {
      padding-right: 0.5rem;
    }
    &--number {
      font-family: avenir-regular;
      @include mobile-subheader;
      margin: 0;
    }
  }
  &__likes-container {
    display: flex;
    &--icon {
      padding-right: 0.5rem;
    }
    &--number {
      font-family: avenir-regular;
      @include mobile-subheader;
      margin: 0;
    }
  }
  &__description-container {
    margin-top: 1.5rem;
    &--text {
      font-family: avenir-regular;
      @include mobile-paragraph;
      margin: 0;
    }
  }
}

// Tablet Styles
@include medium {
  .main {
    margin: 3rem 1.5rem 4rem 1.5rem;
    &__title {
      font-family: avenir-bold;
      @include header-one;
      margin-bottom: 1.5rem;
    }
    &__subtitle-container {
      flex-direction: row;
      &--author {
        @include sub-header;
      }
    }
    &__views-likes-container {
      border: none;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 5px;
    }
    &__views-container {
      padding-right: 10px;
      &--number {
        align-self: center;
      }
    }
    &__likes-container {
      &--number {
        align-self: center;
      }
    }
    &__subtitle-views-likes-container {
      display: flex;
      justify-content: space-between;
      border-top: none;
      border-bottom: 1px solid $mercury;
    }
    &__description-container {
      margin-top: 2.5rem;
      &--text {
        word-wrap: break-word;
        width: 68%;
      }
    }
  }
}

// Desktop Styles
@include large {
  .main {
    margin: 3rem 0px 4rem 11.25rem;
    &__main-container {
      width: 712px;
    }
    &__views-likes-container {
      border: none;
      padding-right: 2rem;
    }
  }
}


// Loading animation author=Bilal.Rizwaan source=https://codepen.io/Bilal1909/pen/zYqrdRe
.no-components {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000;
}

.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.bar {
  width: 10px;
  height: 70px;
  background: #fff;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
  animation: loader 1.2s linear infinite;
}
.bar1 {
  animation-delay: 0.1s;
}
.bar2 {
  animation-delay: 0.2s;
}
.bar3 {
  animation-delay: 0.3s;
}
.bar4 {
  animation-delay: 0.4s;
}
.bar5 {
  animation-delay: 0.5s;
}
.bar6 {
  animation-delay: 0.6s;
}
.bar7 {
  animation-delay: 0.7s;
}
.bar8 {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
    background: none;
  }
  50% {
    transform: scaleY(1);
    background: yellowgreen;
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}
