html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: avenir-regular;
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: avenir-bold;
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
}
@font-face {
  font-family: avenir-demi;
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
}
.header {
  height: 10.5625rem;
}
.header__main-container {
  margin: 0 1rem 1rem 1rem;
}
.header__logo-container {
  height: 3rem;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.header__search-container {
  display: flex;
  height: 3.0313rem;
  align-items: center;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  border-radius: 0.25rem;
  width: 81%;
}
.header__search-container--icon {
  padding: 0 0.625rem 0 1.25rem;
}
.header__search-container--search {
  font-family: avenir-regular;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
.header__upload-container {
  display: flex;
}
.header__upload-container-inner {
  display: flex;
  width: 100%;
  height: 3.0313rem;
  background-color: #0095ff;
  margin: 0.5rem 0 0 0;
  border-radius: 0.25rem;
  justify-content: space-between;
  align-items: center;
}
.header__upload-container-inner:hover {
  background-color: #004892;
}
.header__upload-container-inner--icon {
  padding: 0 0 0 0.625rem;
}
.header__upload-container-inner--upload {
  font-family: avenir-demi;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0;
  color: #ffffff;
}
.header__upload-container--link {
  text-decoration: none;
  width: 100%;
}
.header__upload-container--mohan {
  height: 3rem;
  width: 3rem;
  margin: 0.5rem 0 0 0;
  background-image: url("../assets/images/Mohan-muruge.jpg");
  background-position: left;
  background-size: cover;
  border-radius: 2rem;
}
.header__searchbar {
  display: flex;
  justify-content: space-between;
}
.header__mobile__muru {
  margin-top: 0;
}
.header__tablet__muru {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header {
    height: 5rem;
  }
  .header__main-container {
    height: 5rem;
    display: flex;
    align-items: center;
    margin: 0 1.5rem;
  }
  .header__logo-container {
    margin: 1rem 0;
    padding-right: 169px;
  }
  .header__search-container {
    margin: 1rem 0;
    width: 15.4375rem;
  }
  .header__upload-container {
    margin: 1rem 0;
    margin-left: auto;
  }
  .header__upload-container-inner {
    width: 9.9375rem;
    margin: 0 1.5rem;
    padding-left: 5px;
    padding-right: 5px;
  }
  .header__upload-container--link {
    width: 80%;
  }
  .header__upload-container--mohan {
    margin: 0;
  }
  .header__mobile__muru {
    display: none;
  }
  .header__tablet__muru {
    display: flex;
  }
}
@media only screen and (min-width: 1280px) {
  .header__main-container {
    margin: 0 11.25rem;
  }
  .header__logo-container {
    padding-right: 509px;
  }
  .header__search-container {
    width: 16.4375rem;
  }
}
.hero {
  height: 57.19vw;
}
.hero__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__video:focus {
  outline-width: 0;
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 25rem;
    background-color: black;
    text-align: center;
  }
  .hero__video {
    width: 43.75rem;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (min-width: 1280px) {
  .hero {
    height: 33.75rem;
  }
  .hero__video {
    width: 59rem;
  }
}
.main {
  margin: 2rem 1rem 2.5rem 1rem;
}
.main__title {
  font-family: avenir-bold;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 1rem 0;
}
.main__subtitle-container {
  display: flex;
  flex-direction: column;
}
.main__subtitle-container--author {
  font-family: avenir-demi;
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding-right: 0.5rem;
  margin: 0;
}
.main__subtitle-container--date {
  font-family: avenir-regular;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #afafaf;
  margin: 0;
}
.main__subtitle-views-likes-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.main__views-likes-container {
  display: flex;
  flex-direction: column;
  color: #afafaf;
  height: 1rem;
}
.main__views-container {
  display: flex;
  margin-right: 1.5rem;
}
.main__views-container--icon {
  padding-right: 0.5rem;
}
.main__views-container--number {
  font-family: avenir-regular;
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin: 0;
}
.main__likes-container {
  display: flex;
}
.main__likes-container--icon {
  padding-right: 0.5rem;
}
.main__likes-container--number {
  font-family: avenir-regular;
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin: 0;
}
.main__description-container {
  margin-top: 1.5rem;
}
.main__description-container--text {
  font-family: avenir-regular;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .main {
    margin: 3rem 1.5rem 4rem 1.5rem;
  }
  .main__title {
    font-family: avenir-bold;
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-bottom: 1.5rem;
  }
  .main__subtitle-container {
    flex-direction: row;
  }
  .main__subtitle-container--author {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .main__views-likes-container {
    border: none;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5px;
  }
  .main__views-container {
    padding-right: 10px;
  }
  .main__views-container--number {
    align-self: center;
  }
  .main__likes-container--number {
    align-self: center;
  }
  .main__subtitle-views-likes-container {
    display: flex;
    justify-content: space-between;
    border-top: none;
    border-bottom: 1px solid #e1e1e1;
  }
  .main__description-container {
    margin-top: 2.5rem;
  }
  .main__description-container--text {
    word-wrap: break-word;
    width: 68%;
  }
}
@media only screen and (min-width: 1280px) {
  .main {
    margin: 3rem 0px 4rem 11.25rem;
  }
  .main__main-container {
    width: 712px;
  }
  .main__views-likes-container {
    border: none;
    padding-right: 2rem;
  }
}
.no-components {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000;
}

.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.bar {
  width: 10px;
  height: 70px;
  background: #fff;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
  -webkit-animation: loader 1.2s linear infinite;
          animation: loader 1.2s linear infinite;
}

.bar1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.bar2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.bar3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.bar4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.bar5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.bar6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.bar7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.bar8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes loader {
  0% {
    transform: scaleY(0.1);
    background: none;
  }
  50% {
    transform: scaleY(1);
    background: yellowgreen;
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
    background: none;
  }
  50% {
    transform: scaleY(1);
    background: yellowgreen;
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}
.comment {
  background-color: #ffffff;
  margin: 2.5rem 1rem 0 1rem;
}
.comment__title {
  font-family: avenir-demi;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 32px 0;
}
.comment__image {
  background-image: url("../assets/images/Mohan-muruge.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  margin: 1.5rem 1rem 0 0;
}
.comment__name-container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e1e1e1;
}
.comment__input-container {
  display: flex;
  flex-direction: column;
}
.comment__input-container--text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: avenir-demi;
  color: #afafaf;
  margin: 0 0 0.2rem 0;
}
.comment__text-container {
  font-family: avenir-regular;
  font-size: 0.8125rem;
  border: 1px solid #afafaf;
  border-radius: 0.25rem;
  width: 14rem;
  background-color: #fafafa;
  border-color: #afafaf;
  resize: none;
}
.comment__text-container:focus {
  border: 2px solid #0095ff;
  outline-width: 0;
}
.comment__text-container--one {
  margin: 0 0 1rem 0;
  height: 6rem;
  padding: 0.625rem;
}
.comment__button {
  font-family: avenir-demi;
  background-color: #0095ff;
  border-style: none;
  height: 2.5rem;
  border-radius: 0.25rem;
  color: #ffffff;
  text-align: center;
  width: 14rem;
  margin: 0 0 1.5rem 0;
  outline-width: 0;
  padding: 0 0 0 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment__button:hover {
  background-color: #004892;
}
.comment__default {
  border-bottom: 1px solid #e1e1e1;
}
.comment__header {
  display: flex;
  justify-content: space-between;
}
.comment__header--image-one {
  height: 3rem;
  width: 3rem;
  background-color: #e1e1e1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  border-radius: 2rem;
  margin-top: 1.5rem;
}
.comment__header--name {
  color: #323232;
  font-family: avenir-demi;
  font-size: 0.8125rem;
  padding: 1.75rem 0 0 1rem;
  margin: 0;
}
.comment__header--date {
  color: #afafaf;
  font-family: avenir-regular;
  font-size: 0.8125rem;
  margin: 0;
  padding: 1.75rem 0 0 0;
}
.comment__text-container-default {
  display: flex;
  justify-content: space-between;
}
.comment__text-container-default--comment {
  word-wrap: break-word;
  width: 96%;
  color: #323232;
  font-size: 0.8125rem;
  font-family: avenir-regular;
  margin: 0;
  padding: 1rem 0 1.5rem 1rem;
}
.comment__delete {
  border: none;
  background-image: url("../assets/icons/trash-can-solid.svg");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 1rem;
  height: 2rem;
  margin: 1.5rem 1rem 0 0;
  display: none;
}
.comment__delete:hover {
  transform: scale(1.5);
}

.comment__default:hover .comment__delete {
  display: flex;
}

@media only screen and (min-width: 768px) {
  .comment {
    background-color: #ffffff;
    margin: 4rem 1.5rem 0 1.5rem;
  }
  .comment__title {
    margin: 0 0 2rem 0;
  }
  .comment__image {
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    margin: 1.7rem 1.25rem 0 0;
  }
  .comment__name-container {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 1.5rem;
  }
  .comment__input-container {
    display: flex;
    flex-direction: row;
  }
  .comment__input-container--text {
    font-family: avenir-demi;
    color: #afafaf;
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin: 0 0 0.5rem 0;
  }
  .comment__input-text-container {
    display: flex;
    flex-direction: column;
  }
  .comment__text-container {
    font-family: avenir-regular;
    font-size: 1rem;
    border: 1px solid #323232;
    border-radius: 0.25rem;
    width: 27.5rem;
    background-color: #fafafa;
    border-color: #afafaf;
    resize: none;
  }
  .comment__text-container:focus {
    border: 2px solid #0095ff;
    outline-width: 0;
  }
  .comment__text-container--one {
    margin: 0;
    height: 3rem;
    padding: 0.625rem 1rem 0 1rem;
  }
  .comment__button-container {
    align-self: flex-end;
    margin: 0 2.5rem 0 1rem;
  }
  .comment__button {
    font-family: avenir-demi;
    font-size: 1rem;
    background-color: #0095ff;
    border-style: none;
    height: 3rem;
    border-radius: 0.25rem;
    color: #ffffff;
    text-align: center;
    width: 10rem;
    margin: 0;
    outline-width: 0;
    align-self: flex-end;
  }
  .comment__button:hover {
    background-color: #004892;
  }
  .comment__default-comment {
    display: flex;
    flex-direction: column;
  }
  .comment__header {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .comment__header--image-one {
    position: absolute;
    height: 3rem;
    width: 3rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem;
    margin-top: 1.5rem;
  }
  .comment__header--name {
    color: #323232;
    font-family: avenir-demi;
    font-size: 1rem;
    padding: 1.75rem 1rem 0 3.9375rem;
    margin: 0;
  }
  .comment__header--date {
    color: #afafaf;
    font-family: avenir-regular;
    font-size: 1rem;
    margin: 0;
    padding: 1.75rem 1rem 0 0;
  }
  .comment__text-container-default {
    display: flex;
    border-bottom: 1px solid #e1e1e1;
  }
  .comment__text-container-default--comment {
    color: #323232;
    width: 42rem;
    font-size: 0.875rem;
    font-family: avenir-regular;
    margin: 0;
    padding: 1rem 0 1.5rem 4rem;
  }
}
@media only screen and (min-width: 1280px) {
  .comment {
    width: 712px;
    background-color: #ffffff;
    margin: 4rem 0px 1.875rem 11.25rem;
  }
  .comment__title {
    margin: 0 0 2rem 0;
  }
  .comment__image {
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    margin: 1.7rem 1.25rem 0 0;
  }
  .comment__name-container {
    display: flex;
    justify-content: flex-start;
    border-bottom: 0;
  }
  .comment__input-container {
    display: flex;
  }
  .comment__input-container--text {
    font-family: avenir-demi;
    color: #afafaf;
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin: 0 0 0.5rem 0;
  }
  .comment__input-text-container {
    display: flex;
    flex-direction: column;
  }
  .comment__text-container {
    font-family: avenir-regular;
    font-size: 0.8125rem;
    border: 1px solid #afafaf;
    border-radius: 0.25rem;
    width: 436px;
    background-color: #fafafa;
    border-color: #afafaf;
    resize: none;
  }
  .comment__text-container:focus {
    border: 1px solid #0095ff;
    outline-width: 0;
  }
  .comment__text-container--one {
    margin: 0;
    height: 3rem;
    padding: 0.625rem 1rem 0 1rem;
  }
  .comment__button-container {
    align-self: flex-end;
    margin: 0 0 0 1rem;
  }
  .comment__button {
    font-family: avenir-demi;
    font-size: 1rem;
    background-color: #0095ff;
    border-style: none;
    height: 3rem;
    border-radius: 0.25rem;
    color: #ffffff;
    text-align: center;
    width: 10rem;
    outline-width: 0;
    align-self: flex-end;
  }
  .comment__button:hover {
    background-color: #004892;
  }
  .comment__default {
    border-top: 1px solid #e1e1e1;
    border-bottom: 0;
  }
  .comment__text-container-default {
    border-bottom: 0;
  }
}
.sidevideo {
  margin: 2.5rem 1rem 1.5rem 1rem;
}
.sidevideo__mainOne {
  text-decoration: none;
}
.sidevideo__title {
  font-family: avenir-demi;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #afafaf;
  margin: 0 0 2.5rem 0;
}
.sidevideo__template-container {
  display: flex;
  margin-bottom: 1.5rem;
  text-decoration: none;
}
.sidevideo__image {
  width: 120px;
  height: 70px;
  margin-right: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.3125rem;
}
.sidevideo__title-video {
  overflow: hidden;
  width: 47.5vw;
  max-width: 11rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: avenir-demi;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #323232;
  margin: 0 0 1rem 0;
}
.sidevideo__channel {
  font-family: avenir-regular;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0;
  color: #323232;
}

@media only screen and (min-width: 768px) {
  .sidevideo {
    margin: 2.5rem 1.5rem 1.5rem 1.5rem;
  }
  .sidevideo__title-video {
    font-family: avenir-demi;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    word-break: break-word;
    width: 164px;
    margin: 0;
  }
  .sidevideo__channel {
    font-family: avenir-regular;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    margin: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .sidevideo {
    padding: 2.5rem 11.25rem 0px 1.5rem;
    margin: 0;
  }
  .sidevideo__title-video {
    font-family: avenir-demi;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    word-break: break-word;
    width: 10.4375rem;
    margin: 0;
  }
  .sidevideo__channel {
    font-family: avenir-regular;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    margin: 0;
  }
}
.upload {
  margin: 1.5rem 1rem 1.5rem 1rem;
}
.upload__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: avenir-bold;
  margin: 0 0 2rem 0;
}
.upload__subtitle {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: avenir-demi;
  color: #afafaf;
  margin: 0;
}
.upload__video {
  height: 190px;
  width: 100%;
  background-image: url("../assets/images/Upload-video-preview.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 0.3125rem;
  margin-bottom: 2rem;
}
.upload__input-container {
  display: flex;
  flex-direction: column;
}
.upload__input-container--text {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: avenir-demi;
  color: #afafaf;
  margin: 0;
}
.upload__text-container {
  font-family: avenir-regular;
  font-size: 0.8125rem;
  border: 1px solid #323232;
  border-radius: 0.25rem;
  background-color: #fafafa;
  border-color: #afafaf;
  resize: none;
  padding: 0.75rem 0.625rem 0.625rem 1.125rem;
  width: 100%;
}
.upload__text-container:focus {
  border: 2px solid #0095ff;
  outline-width: 0;
}
.upload__text-container--one {
  margin: 0 0 1.5rem 0;
  height: 3rem;
}
.upload__text-container--two {
  margin: 0 0 2rem 0;
  height: 8.9375rem;
}
.upload__button-container {
  display: flex;
  flex-direction: column;
}
.upload__button-container--publish {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  display: flex;
  margin: 0.5rem 0 0 0;
  justify-content: space-between;
  align-items: center;
  font-family: avenir-demi;
  background-color: #0095ff;
  border-style: none;
  height: 3.0313rem;
  border-radius: 0.25rem;
  color: #ffffff;
  text-align: center;
  width: 100%;
  margin: 0 0 1.5rem 0;
  outline-width: 0;
  align-self: center;
}
.upload__button-container--publish:hover {
  background-color: #004892;
}
.upload__button-container--icon {
  padding: 0 0 0 0.625rem;
}
.upload__button-container--cancel {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: avenir-demi;
  border-style: none;
  height: 3.0313rem;
  border-radius: 0.25rem;
  outline-width: 0;
  color: #0095ff;
  background-color: #ffffff;
  padding-left: 38px;
}

@media only screen and (min-width: 768px) {
  .upload {
    margin: 3rem 1.5rem;
  }
  .upload__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid #e1e1e1;
  }
  .upload__subtitle {
    margin-top: 2.5rem;
  }
  .upload__video {
    height: 11.4375rem;
    width: 21.5rem;
    margin-bottom: 2.5rem;
  }
  .upload__text-container--two {
    margin-bottom: 2.5rem;
  }
  .upload__button-container {
    border-top: 1px solid #e1e1e1;
    display: flex;
    flex-direction: row-reverse;
    padding: 2.5rem 0 0 0;
  }
  .upload__button-container--cancel {
    padding: 0 3rem 0 0;
  }
  .upload__button-container--publish {
    margin: 0;
    width: 160px;
  }
}
@media only screen and (min-width: 1280px) {
  .upload {
    margin: 3rem 11.25rem;
  }
  .upload__big-container {
    display: flex;
    align-items: baseline;
    width: 67.5rem;
  }
  .upload__textarea-container {
    width: 100%;
  }
  .upload__video {
    margin: 0 24px 0 0;
  }
  .upload__text-container {
    width: 100%;
  }
  .upload__text-container--two {
    height: 5.6875rem;
  }
  .upload__input-container {
    width: 44.5rem;
  }
  .upload__button-container {
    width: 67.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .all-components__main {
    display: flex;
  }

  .all-components__two {
    border-left: 1px solid #e1e1e1;
  }
}/*# sourceMappingURL=main.css.map */